@model PeDeOuro.Models.Emails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Emails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-2">
                <label asp-for="PromocaoId" class="control-label">Promoção</label>
                <select asp-for="PromocaoId" class ="form-control" asp-items="ViewBag.PromocaoId"></select>
            </div>
            <div class="form-group p-2">
                <label>Clientes</label>
                @foreach (var cliente in (IEnumerable<PeDeOuro.Models.Cliente>)ViewBag.ClienteId)
                {
                    <div class="form-check">
                        <input type="checkbox" name="SelectedClientes" value="@cliente.Email" class="form-check-input" />
                        <label class="form-check-label">@cliente.Nome</label>
                    </div>
                }
                <span asp-validation-for="emailDestinatario" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
